<div id="container" style="display: flex;align-items: center;justify-content: center;flex-direction: column;gap: 10px;">
    <div class="position-absolute pagnition-up" (click)="onChangeUp()">
        <img src="../../../../../assets/login-form/arrowup.png" alt="" srcset="">
    </div>
    <div *ngFor="let x of tempArray | paginate :{ itemsPerPage: 8, currentPage: currentPage}" id="friendcontainer">
        <div id="friend">
            <div id="status"></div>
        </div>
        <div id="tooltip">Don Hammer</div>
    </div>
    <div class="position-absolute pagnition-down" (click)="onChangeDown()">
        <img src="../../../../../assets/login-form/arrowdown.png" alt="" srcset="">
    </div>
</div>