<div class="containerbox">
    <div class="titlebox">Pending Request</div>
    <div class="pendingcontainer">
        <div *ngFor="let item of [1,2,3,4,5,6,7]" class="request">
            <div class="pdp">
                <div style="
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: solid 1px black;">
                </div>
            </div>
            <div class="name" style="justify-content: start;font-weight: 600;font-size: 0.8em;">Ezio Bishop</div>
            <div class="buttons">
                <button><img src="../../../../../../assets/login-form/accept.png" alt=""></button>
                <button><img src="../../../../../../assets/login-form/refuse.png" style="width: 80%;" alt=""></button>
            </div>
        </div>
    </div>
    <div class="leave"><img style="height: 20px;cursor: pointer;" (click)="isRequestingSwitch()" src="../../../../../../assets/login-form/exit.png" alt=""></div>
</div>