<div class="container-fluid bg-primary" style="height: 100vh;">
<div class="container-md bg-success p-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100 position-relative">
        <div class="col-6 bg-warning p-4 d-flex justify-content-center flex-column align-items-center ">
            <div id="pdp-form"></div>
            <div id="title-form">Login</div>
            <form class="pt-3">
            <div id="input-container">
                <img src="../../assets/login-form/email-icon-form.png" alt="">
                <label>Email</label>
                <input/>
            </div>
            <div id="input-container">
                <img src="../../assets/login-form/password-icon-form.png" alt="">
                <label>Password</label>
                <input/>
            </div>
            <div id="submit-btn"><input class="mt-3" type="submit"/></div>
            </form>
            <a href="" class="mt-3">Did You Forget Your Password ?</a>
        </div>
        <div id="footer-btn" class="position-absolute" ><button>Create new account 
            <div>
                <img src="../../assets/login-form/fleche.png" alt="">
            </div>
            </button>
        </div>
    </div>
</div>
</div>
