
#container{
    display: flex;
    align-items: center;
    justify-content: end;

    #messagecontainer{
        border-radius:20px;
        padding:15px;
        max-width:80%;
        position:relative;
        background-color:red;
        color:white;
        &::after{
                content:"";
                position:absolute;
                right:-20px;
                background-color:transparent;
                border-bottom:solid 15px transparent;
                border-left:solid 20px red;
                border-right:solid 0px green;
                border-top:solid 0px pink;
        }
      }
}
