<div class="firstbar">
    <div class="friendpdp"><div></div></div>
    <div class="friendname">Ezio Bishop</div>
    <div class="dropbox">
        <button class="dropbtn"><img src="../../../../../assets/login-form/dropmenu.jpg" alt=""></button>
        <div class="dropdown-content">
            <div style="color:black">View Profile</div>
            <div>Delete Chat</div>
            <div>Block User</div>
          </div>
    </div>
</div>
<div class="chat">
    <div class="chatfield">
        <app-hismessage></app-hismessage>
        <app-mymessage></app-mymessage>
        <app-hismessage></app-hismessage>
        <app-mymessage></app-mymessage>
        <app-hismessage></app-hismessage>
        <app-mymessage></app-mymessage>
        <app-hismessage></app-hismessage>
        <app-mymessage></app-mymessage>
    </div>
    <div class="messagesender">
        <div>
            <input type="text">
            <div class="buttons">
                <button>
                    <img src="../../../../../assets/login-form/send-icon.png" alt="">
                </button>
                <button>
                    <img src="../../../../../assets/login-form/img.png" alt="">
                </button>
                <button>
                    <img src="../../../../../assets/login-form/171454_link_icon.png" alt="">
                </button>
            </div>
        </div>
    </div>
</div>
