.firstbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8%;
    border: solid 1px #dddddd;
    border-right: none;
    .friendpdp {
        margin-left: 20px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        div {
            height: 40px;
            width: 40px;
            border: solid 1px black;
            border-radius: 50%;
        }
    }
    .friendname {
        display: flex;
        align-items: center;
        width: 80%;
        height: 100%;
        padding-left: 20px;
        font-weight: 300;
        font-size: 1.2em;
        pointer-events: none;
    }
    .dropbox {
        width: 10%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
        .dropbtn {
            border: none;
            background-color: transparent;
            img {
                width: 20px;
                height: 20px;
            }
        }
        &:hover .dropdown-content {
            display: block;
        }
        .dropdown-content {
            display: none;
            position: absolute;
            z-index: 1;
            top: 80%;

            div {
                color: red;
                background-color: white;
                display: block;
                white-space: nowrap;
                padding: 10px;
                border: solid 1px #dddddd;
                cursor: pointer;
                font-weight: 600;
                text-align: center;
            }
        }
    }
}
.chat {
    height: 94%;
    border: solid 1px #dddddd;
    .chatfield {
        padding: 50px;
        height: 90%;
        overflow-y: scroll;
    }
    .messagesender {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 8%;
        border: solid 1px #dddddd;
        div {
            width: 80%;
            height: 35px;
            border-radius: 60px;
            display: flex;
            flex-direction: row;

            input {
                padding-left: 20px;
                width: 100%;
                border-radius: 60px;
                outline: none;
                border: none;
                font-size: 0.9em;
                background-color: #f3f3f5;
            }
            .buttons {
                width: 15%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                button {
                    display: block;
                    width: 50px;
                    height: 50px;
                    background-color: transparent;
                    padding: 5px;
                    border: none;
                    cursor: default;
                    img {
                        height: 40%;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
