<div class="container-fluid  position-relative" style="height: 100vh">
  <div id="backgroundbuble"><svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
      <path fill="#08BDBA"
        d="M41.9,-75.8C52.4,-66.5,57.9,-51.5,62.1,-37.9C66.4,-24.4,69.5,-12.2,68.3,-0.7C67.1,10.8,61.6,21.6,57.2,34.9C52.8,48.3,49.5,64.2,40.2,74.5C30.8,84.8,15.4,89.5,-0.4,90.3C-16.3,91,-32.6,87.9,-42.5,77.9C-52.5,68,-56.1,51.2,-60.3,37.1C-64.6,23,-69.6,11.5,-72.7,-1.8C-75.8,-15.1,-77.1,-30.1,-71.7,-42.3C-66.3,-54.5,-54.2,-63.8,-41.2,-71.7C-28.1,-79.6,-14.1,-86.1,0.8,-87.5C15.7,-88.9,31.4,-85.2,41.9,-75.8Z"
        transform="translate(100 100)" />
    </svg></div>

  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100 position-relative">
      <div class="col-6 p-4 d-flex justify-content-center flex-column align-items-center h-80  mt-3">
        <div id="pdp-form">
          <app-character [eyeHeigth]="eyeHeigth"></app-character>
        </div>
        <div id="title-form">Login</div>
        <form [formGroup]="loginForm" class="pt-3">
          <div class="inputcontainer" [ngClass]="{ 'inputHasText': loginForm.controls['email'].value.length > 0 }">
            <img src="../../assets/login-form/email-icon-form.png" alt="" />
            <label for="email">Email</label>
            <input type="email" name="email" formControlName="email" />
          </div>
          <div class="inputcontainer" [ngClass]="{ 'inputHasText': loginForm.controls['password'].value.length > 0 }">
            <img src="../../assets/login-form/password-icon-form.png" alt="" />
            <label for="password">Password</label>
            <input type="password" name="password" formControlName="password" (focus)='closeEyes()'
              (blur)="closeEyes()" />
          </div>
          <div id="submit-btn"><input class="mt-3" type="submit" /></div>
        </form>
        <a href="" class="mt-3">Did You Forget Your Password ?</a>
        <div id="footer-btn" class=" mt-5">
          <button routerLink="/signup">
            Create new account
          </button>
        </div>
      </div>
    </div>
  </div>
</div>