<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex" style="height: 100vh;padding: 0px;overflow: hidden;">
            <div style="width: 20vmax;height: 100%;">
                <app-sidebaruser></app-sidebaruser>
            </div>
            <div style="width: 80vmax;height: 100%;">
                <app-chat></app-chat>
            </div>
            <div style="width: 94px;height: 100%;min-width: 95px;overflow:visible;">
                <app-sidebarfriends></app-sidebarfriends>
            </div>
        </div>
    </div>
</div>