<div id="character">
    <div id="bublecontainer">
        <div [ngStyle]="{'background-color':messagecolor}" id="textbuble">
            <div [ngStyle]="{'color':this.messagecolor == 'white' ? 'black' : 'white'}">{{message}}</div>
        </div>
        <div [ngStyle]="{'background-color':messagecolor}" id="bubledown"></div>
        <div [ngStyle]="{'background-color':messagecolor}" id="bubledowner"></div>
    </div>
    <div id="leftear">

    </div>
    <div id="head">
        <div id="eyewraperleft" [ngStyle]="{'height':eyeHeigth}">
            <div id="eye">
                <div id="eyebuble"
                    [ngStyle]="{'transform': 'translate(' + mousepositionService.getMousePositionX() + '%, ' + mousepositionService.getMousePositionY() + '%)'}">
                </div>
            </div>
        </div>
        <div id="eyewraperright" [ngStyle]="{'height':eyeHeigth}">
            <div id="eye">
                <div id="eyebuble"
                    [ngStyle]="{'transform': 'translate(' + mousepositionService.getMousePositionX() + '%, ' + mousepositionService.getMousePositionY() + '%)'}">
                </div>
            </div>
        </div>
        <div id="mouth" [ngStyle]="{'border-radius':smileRadius+'%'}"></div>
    </div>
    <div id="rightear">

    </div>

</div>