<div *ngIf="isClosed" id="verifpanelcontainer">
    <div id="layer" (click)="isClosedSwitch()"></div>
    <div id="messagebox">
      <div (click)="isClosedSwitch()" id="closebutton"><img src="../../../assets/login-form/1828665.png" alt=""></div>
      <div id="title">Password Recovery</div>
      <div id="info" [ngStyle]="{'background-color':messageColor}" >{{message}}<div *ngIf="isCharged" id="requestloading"></div></div>
      <div id="inputcontainer">
        <input [(ngModel)]="email" type="email" name="email">
      </div>
      <div id="buttonContainer">
        <button (click)="onSubmit()">Recover</button>
  </div>