.pdpcontainer {
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    .pdp {
        border: solid 1px black;
        border-radius: 50%;
        height: 150px;
        width: 150px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            background-color: #8ed621;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            z-index: 5;
            bottom: 0px;
            right: 15px;
        }
    }
}
.searchbar {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    input {
        border-radius: 20px;
        border: none;
        outline: none;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        border: solid 1px #dddddd;
        padding-left: 10px;
        font-size: 0.8em;
        height: 25px;
        width: 80%;
    }
    button {
        margin: 5px;
        width: 25px;
        height: 25px;
        background-color: transparent;
        position: relative;
        padding: 0px;
        border: none;
        img {
            cursor: pointer;
            width: 100%;
            span {
            }
        }
    }
}
.conversations {
    height: 55%;
    overflow-y: scroll;
    .conversation-container {
        height: 70px;
        display: flex;
        border: solid 1px #dddddd;
        .friendpdp {
            width: 30%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .pdp {
                border-radius: 50%;
                border: solid 1px black;
                width: 50px;
                height: 50px;
            }
        }
        .friendname {
            width: 70%;
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding-top: 5px;
            .name {
                height: 50%;
                padding-top: 12px;
                font-size: 0.9em;
            }
            .lastmessage {
                height: 50%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 0.7em;
                color: #797979;
            }
        }
    }
}
