@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&display=swap");

#character {
    height: 100%;
    position: relative;
    #bublecontainer {
        display: flex;
        flex-direction: column;
        padding: 10px;
        animation-name: movebuble;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        position: absolute;
        z-index: 5;
        #textbuble {
            min-width: 500px;
            min-height: 80px;
            background-color: white;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
                rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            font-family: "Edu NSW ACT Foundation", cursive;
        }

        #bubledown {
            width: 30px;
            height: 10px;
            margin-top: 10px;
            background-color: White;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
                rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        }

        #bubledowner {
            width: 10px;
            height: 10px;
            margin-top: 10px;
            background-color: White;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
                rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        }
    }
    #leftear {
        height: 80%;
        width: 15%;
        background-color: white;
        margin-left: 12.5%;
        margin-top: 20%;
        display: inline-block;
    }
    #head {
        height: 60%;
        width: 45%;
        margin-top: 20%;
        display: inline-block;
        background-color: white;
        position: relative;
        #eyewraperleft {
            border: solid 1px rgb(158, 154, 154);
            border-top: solid 2px black;
            position: absolute;
            left: 10%;
            top: 30%;
            overflow: hidden;
            transition: all 0.4s;
            display: inline-flex;
            height: 20px;
            width: 12px;
            transition: all 0.2s;
        }
        #eyewraperright {
            border: solid 1px rgb(158, 154, 154);
            border-top: solid 2px black;
            position: absolute;
            right: 10%;
            top: 30%;
            overflow: hidden;
            transition: all 0.4s;
            display: inline-flex;
            height: 20px;
            width: 12px;
            transition: all 0.2s;
        }
        #eyebuble {
            width: 90%;
            height: 70%;
            background-color: #02d495;
            position: absolute;
            border-radius: 50%;
        }
        #mouth {
            width: 50%;
            border-bottom: solid 2px;
            height: 50%;
            position: absolute;
            left: 25%;
            bottom: 20%;
            transition: all 1s;
        }
    }
    #rightear {
        height: 80%;
        width: 15%;
        margin-top: 20%;
        display: inline-block;
        background-color: white;
    }
}

@keyframes movebuble {
    0% {
        transform: translate(22%, -20%);
    }
    50% {
        transform: translate(22%, -15%);
    }
    100% {
        transform: translate(22%, -20%);
    }
}
